.container {
    margin: 20px 0.5rem;
    width: 100%;
}

.text-block {
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
}

.links {
    text-decoration: none;
    color: cadetblue;
}

.link-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .link-list {
        display: flex; /* Changed from inline-flex to flex for better alignment */
        flex-wrap: wrap; /* Allow wrapping if needed */
        align-items: center;
    			align-content: center;
        width: 100%;
        height: auto;
    }

    .icon {
        height: 30px;
        width: 30px;
        margin: 1rem;
    }
			.links-title-border {
        border-top: 1px solid black;
    }
}

@media (min-width: 601px) {
    .link-list {
        display: flex;
        align-items: center;
    			align-content: center;
        width: 100%;
        height: auto;
        gap: 10%;
        margin: 30px auto;
    }

    .icon {
        height: 40px;
        width: 40px;
    }
    .icon:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

    .links-title-border {
        border-top: 1px solid black;
    }
}

.foot{
			text-align: center;
}
